conda-forge::darker
conda-forge::flake8
conda-forge::keyrings.alt
conda-forge::mypy
conda-forge::pip
conda-forge::pyupgrade
conda-forge::pytest
conda-forge::pytest-cov
conda-forge::pytest-mock
conda-forge::pre-commit
